body {
    background-color: #add9e6;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32%;
}

.col .item {
    background-color: #f5f5f5;
}

.col .item img {
    width: 100%;
}

.col .text-container {
    padding: 0 15px;
}

.col .text-container * {
    margin: 10px 0;
    color: #333;
}